<div class="modal-background">
	
</div>

<div class="modal-content">
	<button class="close">&times;</button>
	<form class="edit-card-form">
		<input class="card-description-input" type="text" name="card[description]" value="<%= card.escape('description') %>">
		<br>
		<button class="card-description-save-button btn btn-default" type="submit">Save</button>
	</form>
	<form class="comment-form">
		<label for="comment[content]">Comment:</label>
		<br>
		<textarea class="comment-textarea" name="comment[content]">Write a comment...</textarea>
		<br>
		<button class="comment-submit-button btn btn-default">Submit</button>
	</form>
	<div>this card was created on <%= new Date(card.escape('created_at')).toString() %> and last updated on <%= new Date(card.escape('updated_at')).toString() %>.</div>
</div>