// Place all the styles related to the api/cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
	background: rgba(255, 255, 255, 1);
	padding: 0px 10px;
	border-radius: 5px;
	margin: 5px 0px;
	min-height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.card:hover {
	background: rgba(192, 192, 192, 0.4);
}

.card-title {
	font-size: 14px;
	color: black;
}

.card-link:hover {
	text-decoration: none;
}

.delete-card-button {
	display: none;
	position: absolute;
	background: rgba(0, 0, 0, 0);
	border: none;
	right: 0;
	top: 0;
}

.card:hover .delete-card-button {
	display: inline-block;
}

.card-title-link {
	margin-top: 15px;
	display: block;
	width: 100%;
	font-size: 18px;
	color: black;
	font-weight: bold;
}

.card-title-link.hide {
	display: none;
}

.card-title-input {
	display: none;
    background: rgba(237, 239, 240, 1);
    font-weight: bold;
	width: 100%;
	margin-top: 10px;
	font-size: 18px;
}

.card-title-input.show {
	display: block;
}

.card-title-input:disabled {
	border: none;
}

.card-title-save-button.btn.btn-default {
	display: none;
	background: rgba(87, 166, 65, 1);
	border: none;
	color: white;
	font-weight: bold;
}

.card-title-save-button.show {
	display: block;
}

.comment-textarea {
	width: 100%;
	margin: 0px;
}

.comment-form {
	margin: 10px 0px;
}

.comment-submit-button.btn.btn-default {
	margin: 10px 0px;
	background: rgba(87, 166, 65, 1);
	border: none;
	color: white;
	font-weight: bold;
}