<h2><%= board.escape('title') %></h2>

<div class="lists-container col-lg-12">
</div>

<div class="list-form"></div>

<a href="<%= "/#/boards/" + board.id + "/edit" %>">Edit Board</a>
<a href="<%= "/#/boards/" + board.id + "/lists/new" %>">New List</a>
