<h2><%= board.escape('title') %></h2>

<ul class="lists"></ul>

<div class="list-form"></div>

<a href="<%= "/#/boards/" + board.id + "/edit" %>">Edit Board</a>
<a href="<%= "/#/boards/" + board.id + "/lists/new" %>">New List</a>
