/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
	height: 100%;
}

.splash-container {
	background-image: url("/images/splash.jpeg");
	background-size: contain;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.splash-content {
	margin-top: 20%;
}

#content {
	height: 100%;
	margin-top: 60px;
}

.navbar-header {
	padding: 9px 0px;
}

.navbar.navbar-default.navbar-solid {
	background: rgba(255, 0, 0, 0.4);
	border: 1px rgba(255, 0, 0, 0.4);
	border-radius: 0px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.btn.btn-default.board-button {
	background: rgba(255, 255, 255, 0.3);
	color: white;
	font-weight: bold;
	border: none;
}

.form-control.search-input {
	background: rgba(255, 255, 255, 0.3);
	border: none;
}

.form-control.search-input::-webkit-input-placeholder {
	color: white;
}

.nav.navbar-nav.navbar-right {
	background: rgba(255, 255, 255, 0.3); 
}

.dropdown-toggle {
	color: white !important;
}

.authentication-button {
	margin-top: 10px;
	float: right;
}